.navbar {
  padding: 19px 0;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar #logo {
  display: flex;
  align-items: center;
}
#logo img:first-child {
  margin-right: 16px;
}

.navbar__items {
  display: flex;
  align-items: center;
  list-style-type: none;
  /* font-family: "Poppins"; */
}
.navbar__link,
.navbar__btn,
.sidebar__link,
.sidebar__btn {
  text-decoration: none;
  display: inline-block;
  margin-right: 24px;
}
.navbar__link,
.sidebar__link {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #334d5a;
  transition: color 0.2s linear;
}
.navbar__link:hover,
.sidebar__link:hover {
  color: #000;
}
.navbar__btn,
.sidebar__btn {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  padding: 10px 22px;

  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #173a56;
  transition: 0.25s linear;
}
.navbar__btn:hover,
.sidebar__btn:hover {
  color: white;
  background: #04554b;
}
.navbar__btn--dark {
  background: #02897a;
  border: 1px solid #02897a;
  color: #ffffff;
}
.navbar__btn--dark:hover,
.sidebar__btn--dark:hover {
  background: #04554b;
}
.darkmode {
  display: flex;
  align-items: center;
}
.navbar__icon {
  position: relative;
  display: none;
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.15s linear;
}
.navbar__icon:hover {
  background: #ebe8e8;
}
.navbar__icon span {
  position: absolute;
  display: inline-block;
  height: 2px;
  width: 25px;
  background: #173a56;
}
.navbar__icon span:first-child {
  top: 8px;
}
.navbar__icon span:last-child {
  bottom: 8px;
}
.hidden {
  display: none;
}
.sidebar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.overflow-hidden {
  overflow: hidden;
}
.sidebar__items {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-left: auto;
  background-color: white;
  padding: 60px 60px 0 30px;
  position: relative;
  width: 280px;
  height: 100vh;
}
.sidebar__close {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
  font-size: 4rem;
  color: #173a56;
  cursor: pointer;
  transition: background 0.05s linear;
}
.sidebar__close:active,
.sidebar__close:hover {
  background: #ebe8e8;
}
.sidebar__link,
.sidebar__btn {
  /* font-family: "Poppins"; */
  margin-bottom: 15px;
  font-size: 1.8rem ;
}
.sidebar__btn--dark {
  background: #02897a;
  color: white;
}

@media screen and (max-width: 935px) {
  .navbar__items {
    display: none;
  }
  .hidden {
    display: none;
  }
  .navbar__icon {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 545px) {
  .sidebar__link {
    font-size: 1.6rem;
  }
  .sidebar__btn {
    line-height: 1.25rem;
    font-size: 1.4rem;
  }
}