.connect,
.connect_header,
.connect_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Common styles */

.background {
  margin-top: 16.7rem;

  background-image: url("../../../assets/images/backgroundUp.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dark .expert_text {
  color: var(--content-text);
}

.reverse {
  flex-direction: row-reverse;
}

/* Unique style */

.connect_header {
  padding-top: 7.5rem;
}

.connect_header-title {
  font-size: 3.2rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 2.4rem;
}

.connect_header-text {
  margin: 0;
  max-width: 54rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
  text-align: center;
}

.connect_body {
  flex-direction: row;
  column-gap: 18rem;
  margin-top: 3.2rem;
}

.expert_content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 1.6rem;
  margin-bottom: 2.4rem;
}

.expert_img {
  width: 10rem;
  height: 10rem;
}

.expert_text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;

  margin: 0;
  padding: 1.5rem 2.5rem;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 2.5rem;
}

.connect-btn {
  background: #02897a;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;
  margin-top: 2.4rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.05s all ease-in;
}

.connect-btn:hover {
  background: #006155;
}

.connect-btn:active {
  background: #016257;
}

@media (max-width: 1000px) {
  .connect_body {
    flex-direction: column;
  }

  .experts:last-child {
    display: flex;
    flex-direction: column-reverse;
  }
}
